# ignorer le dossier de config de visual studio code
.vscode/
# idem pour webstorm
.idea
# d'autres éditeurs
Session.vim
.emacs*
*.cache
*.sublime-workspace
# leurs backups automatiques
*~
*.bak

# ignorer les dossiers tex/, tex/png/, dnb/ et tous leurs enfants
# tex/*
# tex/png/*
dnb/

# ignorer le dossier bac et tous ses enfants
bac/ 

# ignorer le dossier bac et tous ses enfants
e3c/ 

# ignorer les sujets de CRPE
src/assets/crpe

# ignorer le fichier de config de jshintrc (le projet utilise eslint
# configuré dans le package.json)
.jshintrc

# ignorer les zip du dossier fichierszip/
# plus utile puisque ça se passe à partir du build
# à confirmer, une fois confirmé à supprimer
fichierszip/*.zip
!/fichierszip/Projet.zip
!/fichierszip/ProjetCrashed.zip

# les dépendances
node_modules
# le build
build
# les logs
log
# la doc
documentation
src/js/modules/doc
# la conf privée
_private

# Par défaut, on utilise pnpm.
.pnpm-debug.log
# On ignore ce fichier pour ceux qui utilisent npm (ça reste local chez eux)
package-lock.json

# traces MacOS
.DS_Store

# Fichiers avec données utiles pour générer les espaces de scores pour les VIPs
src/json/scoresCodesVip.json
src/json/scoresCodesVipSebSeul.json

# Fichier pour mise en ligne ssh de l'hebergement de test du SebLoz
.rsyncignore

# Dossier avec les fichiers utiles pour l'hebergement de tests php SebLOZ
src/slozano54
webpack.config.js
