# ignorer le dossier de config de visual studio code
.vscode/

# ignorer les dossier tex/, tex/png/, dnb/ et tous leurs enfants
# tex/*
# tex/png/*
dnb/

#ignorer le fichier de config de jshintrc
.jshintrc

#ignorer les zip du dossier fichierszip/
fichierszip/*.zip
!/fichierszip/Projet.zip
!/fichierszip/ProjetCrashed.zip

#ignorer le fichier index.php utile que pour le sous domaine de test de Seb
index.php


# les dépendances
node_modules
# le build
build
# les logs
log
# la doc
documentation
# la conf privée
_private

# Par défaut, on utilise pnpm.
# On enlève ce fichier pour ceux qui utilisent npm
package-lock.json


# traces MacOS
.DS_Store
