<button class="btn ui icon button" id="btnRedo" data-tooltip="Faire une nouvelle série"><i class="redo icon"></i></button>
<button class="btn ui icon button" id="btnPause"><i class="pause icon"></i></button>
<button class="btn ui icon button" id="btnPrev"><i class="step backward icon"></i></button>
<button class="btn ui icon button" id="btnNext"><i class="step forward icon"></i></button>
<button class="btn ui icon button" id="btn_zoom_plus"><i class="zoom-in icon"></i></button>
<button class="btn ui icon button" id="btn_zoom_moins"><i class="zoom-out icon"></i></button>
<button class="btn ui icon button" id="btnCorrectionQuestion" data-tooltip="Correction de la question"><i class="eye icon"></i></button>
<button id="boutonLienCorrectionExterne" class="ui button icon" data-tooltip="Correction de toutes les questions">
  <i class="external alternate icon"></i>
</button>
