<button id="buttonEdit" class="btn ui button icon" data-tooltip="Modifier les exercices"><i class="pencil icon"></i></button>
<button class="btn ui icon button" id="btnRedo" data-position="bottom left" data-tooltip="Faire une nouvelle série"><i class="redo icon"></i></button>
<button class="btn ui icon button" id="btnPause" data-position="bottom left" data-tooltip="Pause"><i class="pause icon"></i></button>
<button class="btn ui icon button" id="btnPrev" data-position="bottom left" data-tooltip="Question précédente"><i class="step backward icon"></i></button>
<button class="btn ui icon button" id="btnNext" data-position="bottom left" data-tooltip="Question suivante"><i class="step forward icon"></i></button>
<button class="btn ui icon button" id="btn_zoom_moins" data-position="bottom left" data-tooltip="Diminuer la taille de l'affichage"><i class="zoom-out icon"></i></button>
<button class="btn ui icon button" id="btn_zoom_plus" data-position="bottom left" data-tooltip="Augmenter la taille de l'affichage"><i class="zoom-in icon"></i></button>
<button class="btn ui icon button" id="btnCorrectionQuestion" data-position="bottom left" data-tooltip="Correction de la question"><i class="eye icon"></i></button>
<button id="boutonLienCorrectionExterne" class="ui button icon" data-position="bottom left" data-tooltip="Corrections de toutes les questions"><i class="external alternate icon"></i></button>
<button class="btn ui icon button" id="btnDiapTimer" data-position="bottom left" data-tooltip="Imposer une durée par question"><i class="hourglass start icon"></i></button>
<button class="btn ui icon button" id="son_diap" data-position="bottom left" data-tooltip="Ajouter/Enlever un son au changement de diapo"><i class="volume off icon" id="iconeSon"></i></button>
