<section class="ui  container " >
    <!-- <h3 class="ui block header">Choix des exercices</h3> -->
    <div class="ui fluid left icon input" id="formulaire_choix_des_exercices" data-tooltip='Nombres séparés par des virgules' data-inverted="">
     <i class="edit icon"></i>
     <input id='choix_des_exercices'  type='text' >
   </div>
   <h3 class="ui block header">Durée des questions</h3>
   <div class="ui  left icon input" id="formulaire_choix_de_la_duree" data-tooltip='Temps en secondes'>
     <i class="hourglass start icon"></i>
     <input id='choix_de_la_duree' type='number' min='2' max='99' >
   </div>
   <div class="ui hidden divider"></div>

   <div class="content" id='parametres_generaux'>
   </div>

   <div class="ui hidden divider"></div>    
   <div id="containerErreur"></div>
   <div  class="popup"><span id="popup_preview" class="popuptext"></span></div>
      <div id="exercices_disponibles">
			<h3 class="ui block header">Exercices disponibles 
				<span class="mode_choix" id="mode_choix_liste"> Mode "Liste par niveau" </span>
				<span class="mode_choix" id="mode_choix_tableau" > Mode "Tableau et recherche" </span>
				<span class="replier" id="replier" > - </span>
			</h3>
			<div id="liste_des_exercices" >    
			<!-- Liste mise à jour en JS -->
			</div>
			<div id="liste_des_exercices_tableau" >
			<!-- Liste mise à jour en JS -->
			</div>
	  </div>
   <div class="ui hidden divider"></div>

   <!-- <h3 class="ui block header">Exercices</h3> -->

   <div id="icones">

    <button class="ui  icon button" id="prev"><i class="step backward icon"></i></button>
    <button class="ui  icon button" id="next"><i class="step forward icon"></i></button>
    <button class="ui  icon button" id="pause"><i class="pause icon"></i></button>
    <button class="ui  icon button" id="play"><i class="play icon"></i></button> 
    <div class="ui buttons">
      <button class="btn ui  right labeled icon button" id="btn_zoom_plus">Police<i class="plus icon"></i> </button>
      <button class="btn ui  icon button" id="btn_zoom_moins"><i class="minus icon"></i> </button>   
    </div>
    <div class="ui buttons">
      <button class="btn ui  right labeled icon button" id="btn_zoom_plus_2d">Taille des figures<i class="plus icon"></i> </button>
      <button class="btn ui  icon button" id="btn_zoom_moins_2d"><i class="minus icon"></i> </button>  
    </div>
    <button class="btn ui labeled icon button" onclick="window.location.href = window.location.href.replace(/&serie=[a-zA-Z]{4}/g,'')" style="margin:10px"><i class="redo icon"></i>Nouvelles données</button> 

    <!-- <button class="btn ui labeled icon button" id="btn_mise_a_jour_code"><i class="redo icon"></i>Nouvelles données</button>  -->
    


    <div id="timer"></div>
    <div id="numero_question"></div>
  </div>



  <div class="ui hidden divider"></div>

  <div id="affichage_exercices">
    <div id="exercices">
      <!-- Le contenu des exercices est ajouté par JS -->    
    </div> 



    <div id='corrections_et_parametres'>
      <div class="ui fluid accordion" >
        <div class="title">
          <i class="dropdown icon"></i>
          Corrections
        </div>
        <div class="content">
          <div class="ui buttons">
            <button class="btn ui  right labeled icon button" id="btn_zoom_plus_correction">Zoom<i class="plus icon"></i> </button>
            <button class="btn ui  icon button" id="btn_zoom_moins_correction"><i class="minus icon"></i> </button>   
          </div>
          
          <div id="corrections"></div> 
        </div>
      </div>

</div>
</div>


</div> 


</section>