<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
<div class="ui right aligned container">
  <a href="mailto:contact@coopmaths.fr" style="color: black; padding-right: 2em"><i class="mail icon"></i>contact@coopmaths.fr</a>
  <a href="/twitter" targer="_blank" style="color: black; padding-right: 2em"><i class="twitter icon"></i>@CoopMaths_fr</a>
  <img class="ui middle aligned image" height="25" src="assets/images/logo2.png" />
  <span class="ui header"></span>
</div>
<div class="ui hidden divider"></div>
<div class="ui hidden divider"></div>
