<div class="ui hidden divider"></div>

  <div class="ui hidden divider"></div>
  <div id="containerErreur"></div>
  <div class="ui two column centered grid" id="contenu">
    <div id="gauche" class="column">
      <div class="ui left aligned segment">
        <h3 class="ui block header">Choix des exercices</h3>
  
        <div class="ui red message" id="message_liste_exercice_vide">
          <p><strong>Commencer par saisir les numéros des exercices souhaités ci-dessous.</strong></p>
        </div>     
        <div class="ui fluid left icon input" data-tooltip='Nombres séparés par des virgules' data-inverted="">
          <i class="edit icon"></i>
          <input id='choix_des_exercices'  type='text' >
        </div>
        <div id="choix_exercices_div">
          <div class="choix_exo sortable"><span contenteditable="true" class="choix_exercices"></span></div>
        </div>
        <div id='parametres_generaux'></div>
      </div>
    </div>
  
    <div id="droite" class="ui left aligned segment">
      <div id="exercices_disponibles">
        <h3 class="ui block header">Exercices disponibles 
          <span class="mode_choix" id="mode_choix_liste"> Mode "Liste par niveau" </span>
          <span class="mode_choix" id="mode_choix_tableau" > Mode "Tableau et recherche" </span>
          <span class="replier" id="replier" > - </span>
        </h3>
      </div>
      <div  class="popup"><span id="popup_preview" class="popuptext"></span></div>
      <div id="liste_des_exercices">    
      <!-- Liste mise à jour en JS -->
      </div>
      <div id="liste_des_exercices_tableau">
      <!-- Liste mise à jour en JS -->
      </div>

      <div class="ui hidden divider"></div>
      
      <div class="segment" id="cache">
        <h3 class="ui block header">Code LaTeX</h3>
        <!-- Bouton de mise à jour du code -->
        <button class="btn ui  labeled icon button" id="btn_mise_a_jour_code"><i class="redo icon"></i>Nouvelles données</button> 
        <!-- Bouton de copie du code -->
        <button class="btn ui  labeled toggle icon button" id="btnCopieLatex" data-clipboard-action="copy" data-clipboard-target="#div_codeLatex"><i class="copy icon"></i>Copier code LaTeX</button>
        <!-- Bouton de téléchargement -->
        <button class="btn ui labeled icon button" id="btn_telechargement"><i class="download icon"></i>Télécharger</button>
        <button style="margin-top:10px" class="btn ui labeled button icon" onclick="window.location.href=window.location.href.replace('v=latex','v=menu')" ><i class="eye icon"></i>Voir les exercices</button>
          
        <div class="ui hidden divider"></div>
        <div id="overleaf">
          <form method="POST" action="https://www.overleaf.com/docs" target="_blank" >
            <div class="form-group text-center">
            <input type="hidden" name="encoded_snip" value="" autocomplete="off">
            <input type="hidden" name="snip_name" value="CoopMaths" autocomplete="off">
            <input type="hidden" name="engine" value="" autocomplete="off">
            <button class="btn-success btn btn-smclass ui labeled icon button" id="btn_overleaf" type="submit" >
            <i class="cogs icon"></i>Compiler en PDF sur Overleaf.com</button>
          </form>
        </div>    
      </div>
      
  
      <div class="ui hidden divider"></div>
  
  
      <!-- Paramètres du fichier LaTeX -->
      <!-- <div class="ui styled fluid accordion"> -->
          <!-- <div class="active title">
            <i class="setting icon"></i>
                Paramètres du fichier .tex
          </div> -->
           <div class="content">
                  
                  <form class="ui form">
                  <div class="field">
                    <label>Nom du fichier et nombre de versions</label>
                  </div>
                  <div class="two fields">
                      <div class="twelve wide field">
                        <input type="text" id="nom_du_fichier" placeholder="Nom du fichier (sans extension)">
                      </div>
                      <div class="four wide field">
                        <input type="number" id="nombre_de_versions" placeholder="1" min="1" max="9">
                      </div>
                  </div>
                    
                  <div class="field" id="options_style_classique">
                    <label>Entête</label>
                    <input type="text" id="entete_du_fichier" placeholder="Fiche d'entrainement">
                  </div>
  
                  
  
                  <div class="inline fields">
                      <label>Style :</label>
                      <div class="field">
                        <div class="ui radio checkbox">
                          <input type="radio" name="style" id="style_CoopMaths" checked="" tabindex="0" class="hidden">
                          <label>CoopMaths</label>
                        </div>
                      </div>
                      <div class="field">
                        <div class="ui radio checkbox">
                          <input type="radio" name="style" id="style_classique"  tabindex="0" class="hidden">
                          <label>Classique</label>
                        </div>
                      </div>
                      <div class="field">
                        <div class="ui radio checkbox">
                          <input type="radio" name="style" id="style_can"  tabindex="0" class="hidden">
                          <label>Course aux nombres</label>
                        </div>
                      </div>
                    </div>
  
                  <div id="options_style_CoopMaths">
                    <div class="inline fields">
                    <label>Thème :</label>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="theme" id="theme_nombres" value="nombres" checked="" tabindex="0" class="hidden">
                        <label>Nombres</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="theme" id="theme_geo" value="geo" tabindex="0" class="hidden">
                        <label>Géo</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="theme" id="theme_grandeurs" value="grandeurs"  tabindex="0" class="hidden">
                        <label>Grandeurs</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="theme" id="theme_gestion" value="gestion" tabindex="0" class="hidden">
                        <label>Gestion</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" name="theme" id="theme_algo" value="algo" tabindex="0" class="hidden">
                        <label>Algo</label>
                      </div>
                    </div>
                  </div>
  
                  <div class="field">
                    <label>Référence de l'item et titre</label>
                  </div>
                  <div class="two fields">
                      <div class="four wide field">
                        <input type="text" id="items" placeholder="N11">
                      </div>
                      <div class="twelve wide field">
                        <input type="text" id="domaine" placeholder="Numération" >
                      </div>
                  </div>
                  </div>
                  <div class="field">
                    <div class="ui checkbox">
                      <input type="checkbox" tabindex="0" id="supprimer_correction" class="hidden">
                      <label>Supprimer la correction &nbsp;&nbsp;&nbsp;</label>
                    </div>
                    <div class="ui checkbox">
                      <input type="checkbox" tabindex="0" id="supprimer_reference" class="hidden">
                      <label>Cacher les identifiants des exercices&nbsp;&nbsp;&nbsp</label>
                    </div>
                    <div class="ui checkbox">
                      <input type="checkbox" tabindex="0" id="ModeNB" class="hidden">
                      <label>Remplissage N&B</label>
                    </div>
                    
                  </div>
                  </form>
                  <div class="ui hidden divider"></div>
                  <div>
                    <a href="fichiers/preambule.tex" class="lien_preambule"><button class="ui compact basic icon button" tabindex="0"><i class="download icon"></i> Préambule</button></a>
                    <a href="fichiers/images.zip" class="lien_images"><button class="ui compact basic icon button" tabindex="0"><i class="download icon"></i> Images</button></a>
                    <div class="ui compact floating labeled icon dropdown button">
                      <i class="download icon"></i> Images DNB                      
                      <div class="menu">
                        <div class="item"><a href="https://coopmaths.fr/dnb/2013/tex/eps/images_dnb2013.zip">DNB-2013</a></div>
                        <div class="item"><a href="https://coopmaths.fr/dnb/2014/tex/eps/images_dnb2014.zip">DNB-2014</a></div>
                        <div class="item"><a href="https://coopmaths.fr/dnb/2017/tex/eps/images_dnb2017.zip">DNB-2017</a></div>
                        <div class="item"><a href="https://coopmaths.fr/dnb/2018/tex/eps/images_dnb2018.zip">DNB-2018</a></div>
                        <div class="item"><a href="https://coopmaths.fr/dnb/2019/tex/eps/images_dnb2019.zip">DNB-2019</a></div>
                        <div class="item"><a href="https://coopmaths.fr/dnb/2020/tex/eps/images_dnb2020.zip">DNB-2020</a></div>
                        <div class="item"><a href="https://coopmaths.fr/dnb/2021/tex/eps/images_dnb2021.zip">DNB-2021</a></div>
                        <div class="item"><a href="https://coopmaths.fr/dnb/2022/tex/eps/images_dnb2022.zip">DNB-2022</a></div>
                      </div>
                    </div>
                    <div class="ui compact floating labeled icon dropdown button">
                      <i class="download icon"></i> Images CRPE                      
                      <div class="menu">
                        <div class="item"><a href="https://coopmaths.fr/assets/crpe/2022/images.zip">CRPE 2022</a></div>
                        
                      </div>
                    </div>
                  </div>
          </div>
      <!-- </div> -->
  
      <!-- Code LaTeX -->
      <div id="div_codeLatex"></div>
  </div> 

        </div> <!-- Fin du div contenu -->
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>
        <div class="ui hidden divider"></div>