<div id="affichage_exercices">
  <div id="exercices"></div>
  <div class="ui fluid accordion">
    <div class="title" id="btnCorrection">
      <i class="dropdown icon"></i>
      Corrections
    </div>
    <div class="content">
      <div id="corrections"></div>
    </div>
  </div>
  <div class="ui fluid accordion" id="accordeon_parametres">
    <div class="title">
      <i class="dropdown icon"></i>
      Paramètres
    </div>
    <div class="content" id="parametres_generaux"></div>
  </div>
</div>
