<div id="modalLog" class="ui modal">
  <div class="content">
    <div class="ui right labeled left icon input">
      <i class="user icon"></i>
      <input
        id="scoresInputUserId"
        type="text"
        placeholder="PPPCCEEE"
        onkeyup="
          const btnValider = document.getElementById('scoresSubmitUserId') 
          this.value=this.value.toUpperCase()
          if (this.value.length === 7 || this.value.length === 8) {
            btnValider.classList.add('positive')
            btnValider.classList.remove('disabled')
            // J'ai un pb pour donner le focus au bouton valider
            // et tolérer 7 ou 8 caractères
            // btnValider.focus()
          }
          // Si on revient en arrière ou si on va trop loin le bouton de validation se désactive
          if (this.value.length > 8 || this.value.length < 7) {
            btnValider.classList.add('disabled')
            btnValider.classList.remove('positive')
          } 
    "
      />
      <span class="ui tag label"> Identifiant </span>
    </div>

    <div class="ui hidden divider"></div>
    <div>
      <button id="scoresSubmitUserId"  class="ui button disabled" >Valider</button>
  </div>
    
    <div id="scoresInputUserIdError" class="ui negative message" hidden>
    <div id="scoresInputUserIdErrorHeader" class="header"></div>
    <div id="scoresInputUserIdErrorBody"></div>
    </div>
   
  </div>
</div>
