<div id="modalTimer" class="ui modal">
  <div class="header">Choisir le temps en secondes pour la série de questions</div>
  <div class="content">
    <div class="ui  left icon input" id="formTimer" data-tooltip='Temps en secondes'>
      <i class="hourglass start icon"></i>
      <input id='inputTimer' type='number' min='2' max='99' >
    </div>

    <div class="ui hidden divider"></div>
    <div>
      <button id="submitTimer"  class="ui button" >Valider</button>
  </div>
  
    </div>
   
  </div>
</div>
