<div id="modalLog" class="ui modal">
  <div class="content">
    <div class="ui right labeled left icon input">
      <i class="user icon"></i>
      <input
        id="scoresInputUserId"
        type="text"
        placeholder="PPPCCEE"
        onkeyup="
          this.value=this.value.toUpperCase()
          if (this.value.length === 7) {
            document.getElementById('scoresSubmitUserId').classList.add('positive')
            document.getElementById('scoresSubmitUserId').classList.remove('disabled')

          } 
    "
      />
      <span class="ui tag label"> Identifiant </span>
      <button id="scoresSubmitUserId" class="ui button right floated disabled">Valider</button>
    </div>
    <div id="scoresInputUserIdError" class="ui negative message" hidden>
      <div id="scoresInputUserIdErrorHeader" class="header"></div>
      <div id="scoresInputUserIdErrorBody"></div>
    </div>
  </div>
</div>
