<div class="ui top attached five item stackable container menu">
  <div class="ui dropdown item" class="blanc">
    CoopMaths <i class="dropdown icon"></i>
    <div class="menu">
      <a href="/" class="item">Accueil</a>
      <a href="/6e" class="item">Sixième</a>
      <a href="/5e" class="item">Cinquième</a>
      <a href="/4e" class="item">Quatrième</a>
      <a href="/3e" class="item">Troisième</a>
      <a href="/2e" class="item">Seconde</a>
      <a href="/twitter" class="item">Actualités</a>
    </div>
  </div>
  <a href="/a_propos/" class="ui simple item">À propos</a>
  <a href="/telechargements" class="ui simple item">Téléchargements</a>
  <a href="mailto:contact@coopmaths.fr" class="ui simple item">Contact</a>
  <div class="ui dropdown item">
    MathALEA <i class="dropdown icon"></i>
    <div class="menu">
      <a href="/mathalea.html" class="item">Exercices en ligne</a>
      <a href="/mathalea.html?v=cm" class="item">Exercices chronométrés</a>
      <a href="/mathalea.html?v=latex" class="item">Générateur LaTeX/PDF</a>
      <a href="/alacarte.html" class="item">Évaluation à la carte</a>
      <a href="/mathalea.html?v=amc" class="item">Générateur AMC</a>
      <a href="/mathalea.html?filtre=outils" class="item">Outils pour le professeur</a>
      <a href="/mathalea2d.html" class="item">MathALEA 2D</a>
      <a href="/mathalea2iep.html" class="item">InstrumEnPoche</a>
      <a href="/mathalea_tuto" class="item">Comment utiliser MathALEA ?</a>
      <a href="/docMathalea2d/presentation" class="item">Comment utiliser MathALEA 2D ?</a>
      <a href="/mathalea_a_propos" class="item">À propos</a>
      <a href="/mathalea.html?v=scores" class="item">Scores - prof</a>
    </div>
  </div>
</div>
