<section class="ui  container " >    
   <h3 class="ui block header">Profs - Espace de gestion des scores</h3>
   <div class="ui icon warning message">
    <i class="sun loading icon"></i>
    <div class="content">
      <div class="header">
        /!\ ATTENTION /!\
      </div>
      <p id="scoresInfosTimeLeft"></p>
    </div>
   </div>
   <div class="actions">
    <div id="scoresDocumentation" class="ui positive right labeled icon button">
      Documentation
      <i class="book icon"></i>        
    </div>
    <div id="scoresCreateSpace" class="ui positive right labeled icon button">
      Créer un espace
      <i class="key icon"></i>
    </div>
  </div>
  <br>
   <div class="image content">
      <div class="description">
        <!-- Feedback pour la documentation -->
        <div id="scoresDocumentationFeedback" class="ui message" hidden>          
            <div id="scoresDocumentationFeedbackHeader" class="ui header"></div>          
            <div id="scoresDocumentationFeedbackBody">
               Sur <a href="https://coopmaths.fr/mathalea.html" target="_blank">coopmaths.fr/mathalea</a>, vous avez la possibilité d’enregistrer les scores de vos élèves. Pour être en conformité avec la RGPD, nous avons fait le choix de ne conserver aucune données personnelles sur notre site. Nous ne stockerons aucun nom, aucun prénom, aucune adresse électronique, aucune adresse IP …
               <br>
               Le principe est le suivant : 
               <ul>
                <li>Un professeur, un formateur ou un éducateur se rend sur <a href="./mathalea.html?v=scores" target="_blank">coopmaths.fr/mathalea.html?v=scores</a>.</li>
                <li> Il clique sur le bouton « Créer un espace ».</li>
                <li> Il obtient un identifiant avec 3 lettres majuscules au hasard (par exemple VJH) et une adresse qui lui permettra d’accéder aux scores qu’il faudra conserver précieusement.
                  <img class="ui bordered image" src="./assets/images/scores-espaceProfResultats_1.png"/>
                </li>
                <li> À ces 3 lettres, le professeur devra en ajouter 2 de son choix pour décrire un classe (par exemple VJH6A, VJHI2, ...).</li>
                <li> Ensuite, pour chaque élève, il devra ajouter 2 ou 3 autres caractères (par exemple VJH6A01, VJH6A02, VJH6AGN2, VJH6AAB1, VJH6AAB2...).</li>

                <div class="ui icon message">
                  <i class="lightbulb icon"></i>
                  <div class="content">
                    <div class="header">
                      Note sur la création des classes
                    </div>
                    <p>
                      La création des classes est automatique.<br>
                      Une classe est créée à la première utilisation d'un code de cette classe.<br>
                      Par exemple, la classe de <b>6A</b> est créée pour le professeur dont le code est <b>PPP</b> dès qu'un code du type <b>PPP6AEEE</b> est utilisé pour se connecter.
                    </p>
                  </div>
                </div>

                <li> Seul le professeur saura à quel élève correspond chaque code. Et si un élève de la 6A oublie son code, le professeur peut en inventer un nouveau (DNY6AZZ) et lui attribuer immédiatement sans avoir besoin de faire quoi que ce soit sur l’ordinateur.</li>
                <div class="ui icon message">
                  <i class="lightbulb icon"></i>
                  <div class="content">
                    <div class="header">
                      Pour enregistrer des scores dans un espace professeur existant, un élève doit donc :
                    </div>
                    <p>
                      <ul>
                        <li>Soit se rendre sur <a href="https://coopmaths.fr/mathalea.html" target="_blank">coopmaths.fr/mathalea</a> et sélectionner des exercices.</li>
                        <li>Soit cliquer sur un lien menant vers une sélection d'exercices fournie par son professeur.</li>
                        <li>Cliquer sur l'un des boutons qui permet d'utiliser une <b>vue</b> permettant la connexion.<br>
                          <img class="ui bordered image" src="./assets/images/scores-userIdVuesConnexion.png"/>                            
                        </li>
                        <li>Dans cette <b>vue</b>, cliquer sur connexion<br>
                          <img class="ui bordered image" src="./assets/images/scores-userIdConnexion.png"/>    
                        </li>  
                        <li>Une fenêtre modale s'ouvre, il a alors besoin : 
                          <ul>
                            <li>Du code prof => 3 lettres majuscules, par exemple <b>LOZ</b>.</li>
                            <li>Du code classe => 2 caractères alphanumériques, les lettres sont des majuscules, par exemple <b>6A</b>.</li>
                            <li>Le code eleve => 2 ou 3 caractères alphanumériques, les lettres sont des majuscules, par exemple <b>1ET</b>.</li>
                          </ul>
                        </li>
                      </ul>
                      Il renseigne ce code dans la zone de saisie :
                      <br>
                      <img class="ui bordered image" src="./assets/images/scores-userIdZoneDeSaisie.png"/>
                      <br>
                      Après avoir cliqué sur <b>Valider</b>, la fenêtre se ferme. Son identifiant est affiché tant qu'il est connecté :
                      <br>
                      <img class="ui bordered image" src="./assets/images/scores-userIdConnecte.png"/>                        
                      <br> 
                      Il peut se déconnecter à tout moment. S'il change de fenêtre, il doit éventuellement se reconnecter.
                      <br>
                      Lorsqu'il clique sur <b>Vérifier les réponses</b>, son score est automatiquement enregistré dans un fichier accessible au professeur.
                      <br>
                      <img class="ui bordered image" src="./assets/images/scores-userIdVerifierLesReponses.png"/>                        

                    </p>
                  </div>
                </div>
                <li> Enfin, le professeur pourra se rendre sur l’adresse qu’il a obtenue au moment de l’inscription pour télécharger :
                  <ul>
                    <li>Soit un fichier tableur par classe et par semaine contenant tous les résultats associés aux différents codes à 7 ou 8 caractères.</li>
                    <li>Soit une archive par classe avec tous les résultats de toutes les semaines pour tous les élèves de la classe, contenant un fichier de traitement <b>Scores_MathAlea.ods</b></li>
                    <li>Soit une archive avec tous les résultats de toutes les semaines pour tous ses élèves quelle que soit la classe, contenant un fichier de traitement <b>Scores_MathAlea.ods</b></li>
                  </ul>                  
                   Il restera à la charge du professeur d’associer les résultats d’un code avec le nom et le prénom de l’élève que seul lui connaît.
                   Le fichier de traitement <b>Scores_MathAlea.ods</b> pourra en faciliter la tâche.
                   <br>
                   <img class="ui bordered image" src="./assets/images/scores-espaceProfResultats_2.png"/>                
                </li>
                <li> Après extraction de l'archive, le fichier de traitement <b>Scores_MathAlea.ods</b> fonctionne ainsi :
                  <ul>
                    <li>Tous les fichiers de semaines sont dans le dossier <b>"Fichiers semaines"</b> de l'archive.</li>
                    <li>Le bouton <b>"Mise à jour"</b> :
                      <ul>
                        <li>Récupère la liste des <b>"Code Classe"</b> dans la colonne C de l'onglet <b>"Paramètres"</b></li>
                        <li>Parcourt le dossier <b>"Fichiers semaines"</b> à la recherche des fichiers "Code Classe"-semaine"1 à 56".csv qui existent et dont le nom ne figure pas déjà dans la liste des fichiers ajoutés (colonne A de l'onglet <b>"Données brutes"</b>)</li>
                        <li>Copie le contenu des fichiers dans l'onglet <b>"Données brutes"</b></li>
                      </ul>
                    </li>
                  </ul>

                  <div class="ui icon message">
                    <i class="lightbulb icon"></i>
                    <div class="content">
                      <div class="header">
                        Note sur les macros                        
                      </div>
                      <p>
                        Les macros ne sont nécessaires que pour cette mise à jour qui récupère le contenu de tous les fichiers pour les ajouter.
                        Si quelqu'un préfère ne pas exécuter les macros, il peut copier et coller le contenu des fichiers à la main et quand même profiter de la désanonymisation qui se fait à l'aide de formules.                          
                      </p>
                    </div>
                  </div>
                  <b>Onglet "Statistiques"</b>
                  <img class="ui bordered image" src="./assets/images/scores-espaceProfResultats_3_statistiques.png"/>
                  <br>
                  <b>Onglet "Données désanonymisées"</b>
                  <img class="ui bordered image" src="./assets/images/scores-espaceProfResultats_4_donneesDesanonymisees.png"/>
                  <br>
                  <b>Onglet "Paramètres"</b>
                  <br>
                  <div class="ui icon message">
                    <i class="lightbulb icon"></i>
                    <div class="content">
                      <div class="header">
                        Note sur l'onglet "Paramètres"                        
                      </div>
                      <p>
                        Pour que le bouton <b>Mise à jour</b> importe correctement les résultats dans les onglets <b>Données désanonymisées</b> et <b>Données brutes</b>,
                        il est nécessaire que les données renseignées, <b>Code Classe, ...</b> de l'onglet <b>Paramètres</b> soient à jour .
                      </p>
                    </div>
                  </div>
                  <br>
                  <img class="ui bordered image" src="./assets/images/scores-espaceProfResultats_5_parametres.png"/>
                  <br>
                  <b>Onglet "Données brutes"</b>
                  <img class="ui bordered image" src="./assets/images/scores-espaceProfResultats_6_donneesBrutes.png"/>
                </li>                
               </ul>
            </div>          
        </div>
        <br>
        <!-- Feedback pour les scores -->
        <div id="scoresFeedback" class="ui positive message" hidden>          
            <div id="scoresFeedbackHeader" class="header"></div>          
            <div id="scoresFeedbackBody"></div>          
        </div>
      </div>             
    </div>
    <br>          

</section>