<section class="ui  container " >    
   <h3 class="ui block header">Profs - Espace de gestion des scores</h3>

   <div class="image content">
      <div class="description">
        <!-- <div class="ui header">Vous pouvez au choix :</div>
        <ul>
          <li>Créer un espace de sauvegarde pour vos classes, vous obtenez :
             <ul>
                <li>Un code prof public de trois lettres majuscules, par exemple <b>STI</b></li>
                <li>Un lien vers l'espace web où seront stocker les résultats de vos élèves :
                   <ul>
                      <li>Un fichier csv par semaine et par classe avec un nom générique, par exemple <b>semaine27.csv</b> si on est la 27e semaine de l'année.</li>
                      <li>Par exemple, pour la classe de 6A, le fichier contiendra tous les résultats de la semaine 27 pour tous les élèves de la classe de 6A.</li>
                   </ul>
                </li>
             </ul>
             <img src="./assets/images/scores-espaceProfResultats_1.png"/>
             <img src="./assets/images/scores-espaceProfResultats_2.png"/>
             <img src="./assets/images/scores-espaceProfResultats_3.png"/>
          </li>

          <li>Pour pouvoir <b>enregistrer des scores</b> dans un espace existant l'élève doit se connecter avec un userId au format suivant :
            <ul>
              <li>Le code prof => 3 lettres majuscules, par exemple <b>STI</b>.</li>
              <li>Le code classe => 2 caractères alphanumériques, les lettres sont des majuscules, par exemple <b>6A</b>.</li>
              <li>Le code eleve => 2 caractères alphanumériques, les lettres sont des majuscules, par exemple <b>1E</b>.</li>
            </ul>
            Le code élève est alors <b>STI6A1E</b>, une fois connecter ce code apparait dans la banière de titre des exercices.
            <img src="./assets/images/scores-userIdConnecte.png"/>
          </li>
        </ul> -->
        <br>
        <!-- Feedback pour la documentation -->
        <div id="scoresDocumentationFeedback" class="ui message" hidden>          
            <div id="scoresDocumentationFeedbackHeader" class="header"></div>          
            <div id="scoresDocumentationFeedbackBody">
               <div class="ui header">Vous pouvez au choix :</div>
               <ul>
                 <li>Créer un espace de sauvegarde pour vos classes, vous obtenez :
                    <ul>
                       <li>Un code prof public de trois lettres majuscules, par exemple <b>STI</b></li>
                       <li>Un lien vers l'espace web où seront stocker les résultats de vos élèves :
                          <ul>
                             <li>Un fichier csv par semaine et par classe avec un nom générique, par exemple <b>semaine27.csv</b> si on est la 27e semaine de l'année.</li>
                             <li>Par exemple, pour la classe de 6A, le fichier contiendra tous les résultats de la semaine 27 pour tous les élèves de la classe de 6A.</li>
                          </ul>
                       </li>
                    </ul>
                    <img src="./assets/images/scores-espaceProfResultats_1.png"/>
                    <img src="./assets/images/scores-espaceProfResultats_2.png"/>
                    <img src="./assets/images/scores-espaceProfResultats_3.png"/>
                 </li>
       
                 <li>Pour pouvoir <b>enregistrer des scores</b> dans un espace existant l'élève doit se connecter avec un userId au format suivant :
                   <ul>
                     <li>Le code prof => 3 lettres majuscules, par exemple <b>STI</b>.</li>
                     <li>Le code classe => 2 caractères alphanumériques, les lettres sont des majuscules, par exemple <b>6A</b>.</li>
                     <li>Le code eleve => 2 caractères alphanumériques, les lettres sont des majuscules, par exemple <b>1E</b>.</li>
                   </ul>
                   Le code élève est alors <b>STI6A1E</b>, une fois connecter ce code apparait dans la banière de titre des exercices.
                   <img src="./assets/images/scores-userIdConnecte.png"/>
                 </li>
               </ul>
       

            </div>          
        </div>
        <br>
        <!-- Feedback pour les scores -->
        <div id="scoresFeedback" class="ui positive message" hidden>          
            <div id="scoresFeedbackHeader" class="header"></div>          
            <div id="scoresFeedbackBody"></div>          
        </div>
        <!-- Formulaire pour saisir un userId -->
        <!-- https://semantic-ui.com/collections/message.html -->
        <!-- https://semantic-ui.com/elements/input.html -->
        <div id="scoresPromptUserId" hidden>
          <div class="ui right labeled left icon input">
            <i class="user icon"></i>
            <input id="scoresInputUserId" type="text" placeholder="PPPCCEE" onkeyup="this.value=this.value.toUpperCase()">
            <span class="ui tag label">
              userId ici
            </span>
            <button id="scoresSubmitUserId" class="ui positive button">Submit</button>
          </div>
          <div id ="scoresInputUserIdError" class="ui negative message" hidden>
            <div id="scoresInputUserIdErrorHeader" class="header"></div>          
            <div id="scoresInputUserIdErrorBody"></div>          
          </div> 
        </div>
      </div>             
    </div>
    <br>          
    <div class="actions">
      <div id="scoresDocumentation" class="ui positive right labeled icon button">
        Documentation
        <i class="book icon"></i>        
      </div>
      <div id="scoresCreateSpace" class="ui positive right labeled icon button">
        Créer un espace
        <i class="key icon"></i>
      </div>
      <div id="scoresSaveToUserId" class="ui positive right labeled icon button">
        Enregistrer des scores 
        <i class="save icon"></i>
      </div>
    </div>
</section>